    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: sans-serif;
    }

    body {
      background: linear-gradient(rgb(55, 54, 54), rgb(47, 43, 43));
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      padding: 20px 0;
    }

    nav .logo {
      color: antiquewhite;
      text-decoration: none;
      font-size: 35px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 700;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 15px;
    }

    nav ul li a {
      color: antiquewhite;
      text-decoration: none;
      font-size: 15px;
      font-weight: 500;
    }

    nav ul li a:hover {
      color: crimson;
    }

    .container {
      width: 500px;
      max-width: 90%;
      background: rgba(255, 255, 255, 0.05);
      color: white;
      border-radius: 20px;
      box-shadow: 0 0 20px 5px rgba(0,0,0,0.75);
      margin: 30px auto;
      padding: 40px;
      backdrop-filter: brightness(40%);
    }

    h1 {
      text-align: center;
      color: #dcdcdc;
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 6px;
      color: #ddd;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    input, select {
      width: 100%;
      padding: 12px;
      margin-bottom: 20px;
      border-radius: 20px;
      border: none;
      background: rgba(78, 75, 75, 0.3);
      color: white;
    }

    input[type="submit"] {
      background-color: crimson;
      color: white;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;
    }

    input[type="submit"]:hover {
      background-color: darkred;
      transform: scale(1.05);
    }

    .login-link {
      text-align: center;
      color: #ccc;
      font-size: 14px;
    }

    .login-link a {
      color: crimson;
      text-decoration: none;
    }

    @media (max-width: 600px) {
      nav {
        flex-direction: column;
        text-align: center;
      }

      .container {
        width: 90%;
      }
    }